<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand">
            <img src="assets/img/ap.png" class="logo" style="height: 100%;">
          </a>
          <span class="navbar-brand textShadow">Attribution Platform</span>
      </div>
      <ul class="nav navbar-nav" style="font-size: 20px;">
          <li ><a routerLink="home" routerLinkActive="active">Home</a></li>
          <li ><a routerLink="d3Chart" routerLinkActive="active">D3 Chart</a></li>
          <li ><a routerLink="highChart" routerLinkActive="active">HighChart</a></li>
      </ul>
  </div>
</nav>  
<router-outlet></router-outlet>